body{
    background-image: url(https://www.reserveamerica.com/webphotos/racms/articles/images/33e6f31c-6faf-434d-afa8-dda503f49699_image2_1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}